<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style type="text/tailwindcss">
            @theme {
                --color-clifford: #da373d;
                --font-sans: "Optima";
                --color-gold: #c8a655;
                --color-cream: #f8f6f1;
                --color-rosegold: #e0c3b6;
                --color-footergold: #a67c24;
                --color-burgundy: #9d3f5b;
                --color-taupe: #806d48;
                --color-strip: #766455;
            }
        </style>
    </head>
    <body></body>
</html>
