@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme {
  --font-sans: 'Optima';
    --color-gold: #C8A655;
    --color-cream: #F8F6F1;
    --color-rosegold: #E0C3B6;
    --color-footergold: #A67C24;
    --color-burgundy: #9D3F5B;
    --color-taupe: #806D48;
    --color-strip: #766455;
}
:root {
  --color-primary: #8a3641;
  --color-secondary: #f0ead6;
  --color-text-dark: #333;
  --color-text-light: #fff;
}


.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.btn-primary:hover {
  background-color: #6a2831;
}

.tab-button.active {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}
@theme {
    --font-sans: "Optima";
    --color-gold: #c8a655;
    --color-cream: #f8f6f1;
    --color-rosegold: #e0c3b6;
    --color-footergold: #a67c24;
    --color-burgundy: #9d3f5b;
    --color-taupe: #806d48;
    --color-strip: #766455;
}

@font-face {
    font-family: "Optima";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/OPTIMA.woff") format("woff");
}

@font-face {
    font-family: "Optima Italic";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Optima_Italic.woff") format("woff");
}

@font-face {
    font-family: "Optima Medium";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Optima Medium.woff") format("woff");
}

@font-face {
    font-family: "Optima Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/OPTIMA_B.woff") format("woff");
}

* {
    font-family: "Optima";
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Outfit; */
    /* background-color: black; */
}


