
body{
  background: #000;
}
@layer base {
  :root {
    --color-theme: #e2932b;
    --color-theme-light: #9d50bb;
  }
  /* *{
    font-family: ;
  } */
  .mmax-container{
    /* background-color: hsl(0, 91%, 50%); */
  }
  .colo1{
    /* background-color: rgb(24, 28, 255); */
  }
  .colo{
    /* background-color: aqua; */
  }
  .lmaoo{
    background-color: #dfee13;
  }
  .place-center{
    /* background-color: rgb(255, 182, 24); */
  }
}

.tye{
  background-color: #dfee13 !important;
}